body{
    font-family: Raleway;
    color: #555;
    background: #6a88b7;
    margin: 10px 30px;
}
#homepage{
    max-width: 800px;
    margin: 60px auto;
    padding: 10px 20px;
    background: #CAD8EE;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
input[type="text"]{
    display: block;
    width: 300px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
label{
    font-weight: bold;
}
.title{
    color: #eee;
    text-align: center;
    font-size: 48px;
}
#homepage h1{
    text-align: center;
}
ul{
    margin: 0;
    padding: 0;
}
li  {
    padding: 10px 10px;
    background: #C096D6;
    list-style-type: none;
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 4px;
    text-align: left;
    padding-left: 0px;
}

span{
    display: inline-block;
    margin: 0 40px;
    text-align: left;
}

span.coasterId {
  float right;



}

span.red{
  float: right;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  padding: 0px 0px;
  background: #ff5252;
}
span.green:{
  float: right;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  padding: 0px 0px;
    background: green;
}
span.yellow{
  float: right;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  padding: 0px 0px;
    background: yellow;
}
span.grey{
  float: right;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  padding: 0px 0px;
    background: gray;
}
span.false{
  float: right;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  padding: 0px 0px;
    background: green;
}
span.true{
  float: right;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  padding: 0px 0px;
    background: #ff5252;
}
span.dark{
  float: right;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  padding: 0px 0px;
    background: green;
}
